.Order {
 	width: 90%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 25px;
    margin: 15px auto;
    padding-right: 0;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Order:hover {
	transform: scale(1.02);
	box-shadow: 0 14px 28px rgba(0,0,0,0.20);
	border: 1px solid #ccc;
/*	cursor: pointer;*/
}

.info {	
	margin: 0 auto;
	width: 100%;
}

.ingredients {
	 text-transform: capitalize;
     margin: 13px 0;
}

ul {
	margin-left: 25px;
	margin-bottom: 15px;
	list-style-type: none;
}

.text {
	margin-bottom: 7px;
}

.deleteOrder {
	border: 2px solid #944317;
}
