.Burger {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: auto;
}

.burgerOrderInfo {
    margin: 0;
    overflow: hidden;
}

@media (min-width: 100px) {
    .Burger {
        width: 200px;
        height: 170px;
    }
}

@media (min-width: 300px) {
    .Burger {
        width: 280px;
        height: 280px;
    }
}

@media (min-width: 320px) {
    .Burger {
        width: 300px;
        height: 280px;
    }
} 

@media (min-width: 380px) {
    .Burger {
        width: 350px;
        height: 300px;
    }
}    

@media (min-width: 500px) {
    .Burger {
        width: 470px;
        height: 390px;
    }
}

@media (min-width: 1000px){
    .Burger {
        width: 550px;
        height: 450px;
    }
}

@media (max-width: 865px) {
    .burgerOrderInfo {
        width: 400px;
        height: 360px;
    }
}

@media (max-width: 500px) {
    .burgerOrderInfo {
        width: 350px;
        height: 310px;
    }
}

@media (max-width: 370px) {
    .burgerOrderInfo {
        width: 300px;
        height: 280px;
    }
}